.game-container {
	margin: 10px;
	display: flex;
	justify-content: space-around;
	align-items: flex-start;
	font-family: 'Open Sans', 'Verdana', sans-serif;
	font-size: 18px;
}
.board-container,
.info-container {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
	line-height: 1.4em;
}
.score {
	height: 20px;
}
#canvas {
	outline: 1px solid black;
	margin: 10px;
}
.game-message {
	height: 60px;
	text-align: center;
}
.info-container {
	align-items: flex-start;
}
.welcome {
	margin-top: 30px;
}
.info-box {
	border-top: 1px solid black;
	border-bottom: 1px solid black;
}
input,
::-webkit-input-placeholder {
	font-family: 'Open Sans', 'Verdana', sans-serif;
	font-size: 18px;
	text-align: center;
}
input {
	width: 140px;
	border-radius: 3px;
	border: 1px solid black;
}